@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2b2b;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

.filter-footer-icon {
  filter: invert(45%) sepia(8%) saturate(5359%) hue-rotate(318deg)
    brightness(103%) contrast(104%);
}

.filter-footer-icon-dark {
  filter: invert(45%) sepia(8%) saturate(5359%) hue-rotate(318deg)
    brightness(103%) contrast(104%);
}
